<div class="main-contents">

<h1>予約日時選択</h1>

<%
  data = [
    {
      time: "10:00-11:00", dates:  [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "11:00-12:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "12:00-13:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "13:00-14:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "14:00-15:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "15:00-16:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "16:00-17:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "17:00-18:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    },
    {
      time: "18:00-19:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    }, 
    {
      time: "19:00-20:00", dates: [
        "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎", "◎"
      ]
    }     
  ]
%>

<style>
  table tr, table td {
    padding: 10px;
  }
</style>

<table class="table-bordered">
  <tr>
    <td></td>
    <td><%= l Date.today + 1, format: :custom %></td>
    <td><%= l Date.today + 2, format: :custom %></td>
    <td><%= l Date.today + 3, format: :custom %></td>
    <td><%= l Date.today + 4, format: :custom %></td>
    <td><%= l Date.today + 5, format: :custom %></td>
    <td><%= l Date.today + 6, format: :custom %></td>
    <td><%= l Date.today + 7, format: :custom %></td>
    <td><%= l Date.today + 8, format: :custom %></td>
    <td><%= l Date.today + 9, format: :custom %></td>
    <td><%= l Date.today + 10, format: :custom %></td>
    <td><%= l Date.today + 11, format: :custom %></td>
    <td><%= l Date.today + 12, format: :custom %></td>
    <td><%= l Date.today + 13, format: :custom %></td>
    <td><%= l Date.today + 14, format: :custom %></td>
  </tr>

  <% data.each do |time| %>
    <tr>
      <td><%= time[:time] %></td>
      <% time[:dates].each do |date| %>
        <td><%= date %></td>
      <% end %>
    </tr>
  <% end %>

</table>

</div>