<%= form_with(model: [ :staff, reservation], local: true) do |f| %>

  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "") %>件のエラーがあります。</h2>
      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id, "お客様名" %>
    <%= f.collection_select :user_id, User.all, :id, :name, include_blank: true %>
  </div>

  <br>

  <div class="field">
    <%= f.label :esthe_menu_id %>
    <%= f.collection_select :esthe_menu_id, EstheMenu.all, :id, :name, include_blank: true %>
  </div>

  <br>

  <div class="field">
    <%= f.label :time_table_id %>
    <%= f.collection_select :time_table_id, @time_tables.all, :id, :view_date_and_time, include_blank: true %>
  </div>

  <br>

  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :comment, id: :reservation_comment %>
  </div>

  <br>

  <div class="actions btn-box">
    <%= link_to '戻る', staff_reservations_path %>
    <%= f.submit class: "btn btn-primary btn-sm btn-right" %>
  </div>
<% end %>
