<div class="main-contents">

<% if @reservation.present? %>
  <% @reservation.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert">
      <li><%= message %></li>
    </div>
  <% end %>    
<% end %>

  <h1>予約一覧</h1>
  <div class="btn-box">
    <%= link_to '新規作成', new_staff_reservation_path, class: "btn btn-primary btn-sm btn-right" %>
  </div>
  <div class="table-responsive">
    <table id="table"  class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>お客様名</th>
        <th>予約日付</th>
        <th>予約時間</th>
        <th>エステメニュー</th>
        <th>ご要望・連絡事項</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <% @reservations.each do |reservation| %>
          <tr>
            <td><%= reservation.user.name %></td>
            <td><%= l reservation.time_table.select_date, format: :custom %></td>
            <td><%= reservation.time_table.time_frame %></td>
            <td><%= reservation.esthe_menu.name %></td>
            <td>
              <% if reservation.comment.present? %>
                <p>✓</p>
              <% end %>
            </td>
            <td class="btn-in-table"><%= link_to '詳細', staff_reservation_path(reservation.id), class: "btn btn-info btn-sm" %></td>
            <td class="btn-in-table"><%= link_to '削除', staff_reservation_path(reservation.id), method: :delete, data: { confirm: 'ほんと〜に削除していいの！？ヽ(ω；`ヽ))...((ノ´；ω)ノ' }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="paginate-box">
    <%= paginate @reservations %>
  </div>

</div>
