<div class="main-contents">

<h1>予約詳細</h1>

<p>
  <strong>User ID:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>エステメニュー:</strong>
  <%= @reservation.esthe_menu.name %>
</p>

<p>
  <strong>予約日時:</strong>
  <%= @reservation.time_table.select_date %>
  <%= @reservation.time_table.time_frame %>
</p>

<p>
  <strong>コメント:</strong>
  <%= @reservation.comment %>
</p>

<%= link_to '編集', edit_staff_reservation_path(@reservation) %> |
<%= link_to '戻る', staff_reservations_path %>

</div>
