<!-- <div class="container clearfix"> -->
  <!-- <div class="row"> -->
    <!-- <div class="span12"> -->
      <!-- <div class="navbar navbar-fixed-top"> -->
        <!-- <div class="container"> -->
          <!-- <p>=================ここはheaderだよー=================</p> -->

<!--           <div class="nav-collapse nav-collapse_  collapse">
            <ul class="nav sf-menu">
              <li class="active"><a href="index.html">About</a></li>
              <li class="sub-menu"><a href="index-1.html">Services</a>
                    <ul>
                  <li><a href="#">Dolore </a></li>
                  <li><a href="#">Consecte</a></li>
                  <li><a href="#">Conseq</a></li>
                </ul>
                  </li>
              <li><a href="index-2.html">Folio</a></li>
              <li><a href="index-3.html">Blog</a></li>
              <li><a href="index-4.html">Contact</a></li>
            </ul>
          </div> -->

          <!-- <div class="collapse navbar-collapse"> -->
<!--             <ul class="nav navbar-nav">
              <li class="active"><%= link_to "アクセス", user_access_path, class: "header-btn" %></li>
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    ドロップダウン
    <span class="caret"></span>
  </button>
                <ul>
                  <li><%= link_to "空メニュー", root_path, class: "" %></li>
                  <li><%= link_to "空メニュー", root_path, class: "" %></li>
                  <li><%= link_to "空メニュー", root_path, class: "" %></li>
                </ul>
              </li>
              <li><%= link_to "空メニュー", root_path, class: "header-btn" %></li>
              <li><%= link_to "空メニュー", root_path, class: "header-btn" %></li>
              <li><%= link_to "空メニュー", root_path, class: "header-btn" %></li>
            </ul> -->

            <ul id="dropmenu" class="dropmenu">
              <li class="dropmenu-box"><a href="#" class="header-btn">menu</a>
                <ul>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                </ul>
              </li>
              <li class="dropmenu-box"><a href="#" class="header-btn">menu</a>
                <ul>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                </ul>
              </li>
              <li class="dropmenu-box"><a href="#" class="header-btn">menu</a>
                <ul>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                </ul>
              </li>
              <li class="dropmenu-box"><a href="#" class="header-btn">menu</a>
                <ul>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                </ul>
              </li>
              <li class="dropmenu-box"><a href="#" class="header-btn">menu</a>
                <ul>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                  <li><a href="#">submenu</a></li>
                </ul>
              </li>
            </ul>
            <!--  -->
          <!-- </div> -->

        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<style>

.dropmenu{
  *zoom: 1;
  list-style-type: none;
  width: 960px;
  margin: 5px auto 30px;
  padding: 0;
}

#dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}
#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}

.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}

.dropmenu:after{
  clear: both;
}

.dropmenu li{
  position: relative;
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}

.dropmenu li a{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  /*background: #8a9b0f;*/
  color: #fff;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
}
.dropmenu li ul{
  /*list-style: none;*/
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li a{
  padding: 13px 15px;
  /*border-top: 1px solid #7c8c0e;*/
  /*background: #6e7c0c;*/
  text-align: left;
}
.dropmenu li:hover > a{
  /*background: red;*/
}
.dropmenu li a:hover{
  background: #db7093;
}

.header-btn {
  margin: 0 auto;
}

.header-btn {
  display: inline-block;
  text-decoration: none;
  background: #ffb6c1;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  margin: 0 auto;
  &:hover {
    background: #db7093;
  }
}

  .dropmenu-box {
/*    margin-right: 5%;
    margin-left: 5%;*/
  }
</style>
