<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ranunculus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag('favicon_16.png') %>
    <%= favicon_link_tag('favicon_32.png') %>
    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <%= render "partial/navbar" %>
      </div>
    </nav>
    <header>
      <%= render "partial/header" %>
    </header>
    <div class="container">
      <%= render "partial/notice_alert" %>
      <div class="main-box ">
        <%= yield %>
      </div>
    </div>
    <footer>
      <%= render "partial/footer" %>
    </footer>
  </body>

</html>
