<%= form_with(model: [ :staff, time_table], local: true) do |f| %>
  <% if time_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_table.errors.count, "error") %> prohibited this time_table from being saved:</h2>

      <ul>
      <% time_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :select_date, "日付" %>
    <%#= f.date_select. :user_id, User.all, :id, :id, include_blank: true %>
    <%= f.date_select :select_date, {:discard_day => true} %>
    <%#= f.date_select :date, {:discard_day => true} %>
  </div>

  <div class="field">
    <%= f.label :time_frame %>
    <%#= f.collection_select :esthe_menu_id, EstheMenu.all, :id, :name, include_blank: true %>
    <%= f.select :time_frame, TimeTable.time_frames.keys %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>