<div class="main-contents">

  <h1>タイムテーブル一覧</h1>

  <div class="btn-box">
    <%= link_to '新規作成', new_staff_time_table_path, class: "btn btn-primary btn-sm btn-right" %>
  </div>

  <div class="table-responsive">
    <table id="table" class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>日付</th>
        <th>時間</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
        <% @time_tables.each do |time_table| %>
          <tr>
            <td><%= l time_table.select_date, format: :custom %></td>
            <td><%= time_table.time_frame %></td>
            <td class="btn-in-table"><%= link_to '編集', edit_staff_time_table_path(id: time_table.id), class: "btn btn-info btn-sm" %></td>
            <td class="btn-in-table"><%= link_to '削除', staff_time_table_path(time_table.id), method: :delete, data: { confirm: '削除してよろしいですか?' }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
